<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moemao.tgks.mar.marznotice.dao.MarzNoticeDao">
    <resultMap id="MarzNoticeEvtMap" type="MarzNoticeEvt">
        <id property="id" column="ID" />
        <result property="title" column="TITLE" />
        <result property="url" column="URL" />
        <result property="level" column="LEVEL" />
        <result property="createTime" column="CREATETIME" />
    </resultMap>
</mapper>